<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-1">

        <hr style="height:0;border-bottom:solid 2px rgba(255,255,255,1);margin-top:0;margin-bottom:4px;" />
        <hr style="height:0;border-bottom:solid 6px rgba(255,255,255,1);margin-top:0;margin-bottom:0;" />
        <div style="padding-top:32px;padding-bottom:32px;">
        <p>
          Shunt McGuppin is an American firebrand. Country music hasn’t been the same since this gruff, uneducated sensation burst onto the Nashville scene. His hit, Alabaster Sweat, remained on the charts for an unprecedented 7,015 weeks. In Shunt’s heyday, he was a multi-platinum, multi-talented, multi-wived marvel.
        </p>
        <p>
          These days, Shunt is relentlessly trying to recapture his youth and past success. Despite near-crippling arthritis and multiple bankruptcies, he continues to pay for astronomically expensive studio time to record that elusive comeback-comeback album. Shunt McGuppin will belt out his vulgar songs with an air of sincerity and determination whether the critics like it or not. He drinks to the point of never not drinking and lives with his dog Atherton in Toby Keith’s guesthouse.
          With guests: Paul F. Tompkins ( Mr. show, Tangled, every podcast ever), Erinn Hayes (Children's Hospital) and more, Shunt is hell-bent on stardom and will cram his music into any hole he finds. Shunt enjoys puppies and is currently brushing his teeth in an abandon Texaco gas station toilet.
        </p>
        </div>
        <hr style="height:0;border-bottom:solid 6px rgba(255,255,255,1);margin-top:0;margin-bottom:4px;" />
        <hr style="height:0;border-bottom:solid 2px rgba(255,255,255,1);margin-top:0;margin-bottom:0;" />

    </div>
  </div>
</div>
